<div style="text-align:center">

    <h2>Convert Excel to Json for file Upload: </h2>

    <form>
        <div class="form-group">
            <label for="fileUpload">Upload Excel: </label>
            <input type="file" id="avatar" class="form-control-file" (change)="onFileChange($event)" #fileInput>
        </div>
        <div id='my_file_output'></div>
    </form>

</div>