<ul>
  <li>
    <a [routerLink]="['/home']">Home</a>
  </li>
  <li>
    <a [routerLink]="['/excel']">Excel to Json</a>
  </li>
  <li>
    <a [routerLink]="['/charts']">Charts</a>
  </li>
</ul>

<router-outlet></router-outlet>